<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>tdt_service_api</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QueryServlet</display-name>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>com.tianditu.servlet.QueryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/query.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuslineServlet</display-name>
    <servlet-name>BuslineServlet</servlet-name>
    <servlet-class>com.tianditu.servlet.BuslineServlet</servlet-class>
  </servlet>
  <servlet>
		
  <servlet-name>login</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.LoginServlet
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>login</servlet-name>
		
   <url-pattern>/LoginServlet</url-pattern>
	
  </servlet-mapping>
  
  <servlet>
		
  <servlet-name>register</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.RegisterServlet
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>register</servlet-name>
		
   <url-pattern>/RegisterServlet</url-pattern>
	
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>mysensor_register</servlet-name>
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.MySensorRegisterServlet
		
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mysensor_register</servlet-name>
    <url-pattern>/MySensorRegisterServlet</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
		
  <servlet-name>check_servlet</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.CheckServlet
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>check_servlet</servlet-name>
		
   <url-pattern>/CheckServlet</url-pattern>
	
  </servlet-mapping>
  
  
  
    <servlet>
		
  <servlet-name>sensor_register</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.SensorRegisterServlet
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>sensor_register</servlet-name>
		
   <url-pattern>/SensorRegisterServlet</url-pattern>
	
  </servlet-mapping>
  
  <servlet>
		
  <servlet-name>temperature_Sensor</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.TemperatureSensorServlet
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>temperature_Sensor</servlet-name>
		
   <url-pattern>/TemperatureSensorServlet</url-pattern>
	
  </servlet-mapping>
  <servlet>
		
  <servlet-name>vedio_Sensor</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.VedioSensorServlet
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>vedio_Sensor</servlet-name>
		
   <url-pattern>/VedioSensorServlet</url-pattern>
	
  </servlet-mapping>
  
  <servlet>
		
  <servlet-name>temperature_Sensor2</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.TemperatureSensorServlet2
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>temperature_Sensor2</servlet-name>
		
   <url-pattern>/TemperatureSensorServlet2</url-pattern>
	
  </servlet-mapping>
  
  
   <servlet>
		
  <servlet-name>humidity_Sensor</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.HumiditySensorServlet
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>humidity_Sensor</servlet-name>
		
   <url-pattern>/HumiditySensorServlet</url-pattern>
	
  </servlet-mapping>
  
  <servlet>
		
  <servlet-name>humidity_Sensor2</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.HumiditySensorServlet2
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>humidity_Sensor2</servlet-name>
		
   <url-pattern>/HumiditySensorServlet2</url-pattern>
	
  </servlet-mapping>
  
  
   <servlet>
		
  <servlet-name>windspeed_Sensor</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.WindSpeedSensorServlet
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>windspeed_Sensor</servlet-name>
		
   <url-pattern>/WindSpeedSensorServlet</url-pattern>
	
  </servlet-mapping>
  
   <servlet>
		
  <servlet-name>windspeed_Sensor2</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.WindSpeedSensorServlet2
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>windspeed_Sensor2</servlet-name>
		
   <url-pattern>/WindSpeedSensorServlet2</url-pattern>
	
  </servlet-mapping>
  
  
  
  
     <servlet>
		
  <servlet-name>alltemperature_Sensor</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.AllTemperatureSensorServlet
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>allwindspeed_Sensor</servlet-name>
		
   <url-pattern>/AllWindSpeedSensorServlet</url-pattern>
	
  </servlet-mapping>
  
   <servlet>
		
  <servlet-name>allwindspeed_Sensor</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.AllWindSpeedSensorServlet
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>alltemperature_Sensor</servlet-name>
		
   <url-pattern>/AllTemperatureSensorServlet</url-pattern>
	
  </servlet-mapping>
  
  
  <servlet>
		
  <servlet-name>allhumidity_Sensor</servlet-name>
	
    <servlet-class>
			
      org.ysc.mvcdemo.servlet.AllHumiditySensorServlet
		
    </servlet-class>
	
  </servlet>

  <servlet-mapping>
		
   <servlet-name>allhumidity_Sensor</servlet-name>
		
   <url-pattern>/AllHumiditySensorServlet</url-pattern>
	
  </servlet-mapping>
  
  
  
  
  <servlet-mapping>
    <servlet-name>BuslineServlet</servlet-name>
    <url-pattern>/BuslineServlet.shtml</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RouteServlet</display-name>
    <servlet-name>RouteServlet</servlet-name>
    <servlet-class>com.tianditu.servlet.RouteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RouteServlet</servlet-name>
    <url-pattern>/route.do</url-pattern>
  </servlet-mapping>
 <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>

</web-app>